* {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  margin: 0;
  padding-top: 8vh; 
  background-color: black; 
  font-family: Arial, sans-serif;
  max-height: 100%;
  max-width: 100vw;
 
}
header {
   background-color: black;
   box-shadow: 0 10px 20px rgba(128, 0, 128, 0.8); 
    position: sticky;
    top: 0;
    height: 7vh;
    z-index: 1000;
}
footer {
margin: 10px;  
text-align: center;
color: white;
}


main{
  height: 90vh;
  position: relative;
}

.main_deckcheck{ display: none;}
.main_drawtest{ display: none;}



/*Landing page gedeelte */
.block_landing {
  position: relative;
  width: 40%; 
  height: 25vh; 
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8); 
  overflow: hidden;
  border-radius: 10px; 
  margin: 1px;
  transition: box-shadow 0.3s ease;
}
.landingpage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh; /* Minimale hoogte van 100% van de viewport */
}

.block_landing {
  position: relative;
  width: 40%;
  height: 25vh;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
}


.block_landing p {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Arial", sans-serif; /*DIT FIXEN EN DAT HELEMAAL BIJ *{} zetten */
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.9); 
  text-shadow: 10px 8px 4px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.block_landing img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: filter 0.3s ease;
}

.block_landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
}



/* Hover effecten */
.block_landing:hover::before { opacity: 1; }
.block_landing.fifa:hover::before { background-image: url(../assets/images/fifaverbodentoegang.jpg); background-size: 100% 100%;}
.block_landing.lego:hover::before { background-image: url(../assets/images/legomasterverbodentoegang.jpg); background-size: 100% 100%; }
.block_landing.pokemon:hover::before { background-image: url(../assets/images/pokemonverbodentoegang.jpg); background-size: 100% 100%; }
.block_landing.fortnite:hover::before { background-image: url(../assets/images/fortniteverbodentoegang.jpg); background-size: 100% 100%; }
.block_landing.lotr:hover::before { background-image: url(../assets/images/lotrverbodentoegang.jpg); background-size: 100% 100%; /}
.block_landing.mtg { box-shadow: 0 20px 40px rgba(125, 201, 201, 0.8);}
.block_landing.fifa { box-shadow: 0 20px 40px rgba(0, 0, 128, 0.8); }
.block_landing.lego {box-shadow: 0 20px 40px rgba(255, 255, 0, 0.8); }
.block_landing.pokemon { box-shadow: 0 20px 40px rgba(255, 255, 128, 0.8);}
.block_landing.fortnite { box-shadow: 0 20px 40px rgba(173, 216, 230, 0.8); }
.block_landing.lotr { box-shadow: 0 20px 40px rgba(174, 99, 8, 0.8);}

/*Extra hover effecten bij ongeldige projecten + geldige*/
.block_landing.mtg:hover { border: 6px solid rgba(0, 255, 0, 1);  box-shadow: 0 0 10px 4px rgba(0, 255, 0, 0.5); }
.block_landing.fifa:hover,
.block_landing.lego:hover,
.block_landing.pokemon:hover,
.block_landing.fortnite:hover,
.block_landing.lotr:hover {
  border: 6px solid rgba(255, 0, 0, 1); 
  box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.5); 
}

/* Vertraging animatie voor block-landings enzo */
.block_landing:nth-child(1) { animation-delay: 0s;}
.block_landing:nth-child(2) {animation-delay: 0.1s;}
.block_landing:nth-child(3) {animation-delay: 0.2s; }
.block_landing:nth-child(4) {animation-delay: 0.3s;}
.block_landing:nth-child(5) {animation-delay: 0.4s;}
.block_landing:nth-child(6) {animation-delay: 0.5s;}


/*MAIN PAGE*/


header nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 1em;
}

header nav ul li.active a {
  background-color:#f5f5f5;
  color: black;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 1em;
  border-radius: 20px;
}

nav {
  display: flex;
  align-items: center;
}

.header-btn, .search-btn {
  padding: 10px 20px;
  background-color: #eee; 
  color: #333; 
  border: none; 
  border-radius: 5px; 
}

.header-btn:hover, .search-btn:hover {
  background-color: #ddd; 
}


.search-box {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.search-box input, .search-box button {
  margin: 0 5px;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  row-gap: 1em;

}
/*MET IMAGE + IMAGE img spelen want het lukt mij niet, werk nogsteed met flex-basis*/
.image {
  flex-basis: 19%; /*de flex basis om de gewenste size te krijgen*/
  margin: 0.5%; /*we laten het laag*/
  height: 350px;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.pagination button, .pagination span {
  margin: 0 0.5em;
}

.page-number {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #555;
  margin: 0 5px;
  color: #f5f5f5;
}

.page-number.active {
  background-color: #007bff;
  color: white;
}


.image-gallery {
  display: none;
}

.image-gallery.visible {
  display: flex;
}


.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 600px; 
  display: flex;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image-modal img {
  max-width: 200px; 
  margin-right: 20px; 
}

.modal-body {
  display: flex;
  align-items: center;
}

.modal-text {
  flex-grow: 1;
}

.modal-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

select, #addToDeck {
  padding: 10px;
  margin: 5px;
}




/*DECK PAGE */
.deck-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start; 
  
}
.deck-wrapper {
  display: inline-flex; 
  flex-direction: column;
  text-align: center;
}
.deck-external-text{
  margin-top: 1em;
}
.deck-container {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 

}

.deck-container img {
  max-width: 100%;
  height: auto;
  border-radius: 1em; 
}

.deck-add-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 0.5em;
  background-color: #007bff;
  color: white;
  cursor: pointer; 
}


/*DECK DETAIL*/
.detail-info-container{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 80px ;
}
.deck-img-profiel{
  height: 250px;
  width: 200px;
  background:#ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.deck-detail-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
.temporary-card{
  height: 300px;
  width: 200px;
  background:#ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 1200px){
  .deck-container{
    background-color: yellow;
    width: 250px;
    height: 250px;
  }
  .image{
    flex-basis: 20%;
    height: 300px; 
  }
}


/* Tablet */
@media (max-width: 1000px) {

  .image {
      flex-basis: 30%;
  }

  .modal-content {
    margin: 10% auto;
    width: 90%;
}

.modal-body {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-modal img {
    max-width: 100%;
    margin: 0 0 20px 0; 
}

.modal-text {
    width: 100%; 
}

.modal-bottom {
    flex-direction: column;
}

select, #addToDeck {
    width: 100%; 
    margin: 10px 0; 
}


}

/* Mobile */
@media (max-width: 600px) {
  .block_landing {
    width: 90%;
    height: 180px;
  }
  .image {
      flex-basis: 98%; /* 1 image per row */
  }
  .modal-content {
    margin: 20% auto; 
}

.close {
    font-size: 24px; 
}
.deck-add-btn {
  padding: 8px 16px;
}




  
}


.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
}
.container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.registration {
  background-color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

label {
  color: #fff;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 24px);
  padding: 15px; /* Aangepaste padding */
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  background-color: #282c34;
  color: #fff;
  height: 30px; /* Aangepaste hoogte */
}



button[type="submit"] {
  background-color: goldenrod;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline
}
