* {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}
header {
  background-color: black;
  box-shadow: 0 10px 20px rgba(128, 0, 128, 0.8);
  position: sticky;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  display: flex;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 1em;
  border-radius: 20px;
}

header nav ul li.active a {
  background-color: #f5f5f5;
  color: black;
}

.header-btn {
  padding: 10px 20px;
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-btn:hover {
  background-color: #a020f0;
}

#logo {
  display: block;
  top: 10px;
  left: 15px;

  max-width: 100px;
  height: 100px;
}

.logout-button {
  color: white;
  background-color: black;
  border-radius: 5px;
  margin-right: 0.5em;
  font-size: 32px;
  padding: 0.5%;
}

main {
  min-height: 90vh;
  position: relative;
}
footer {
  position: relative;
  text-align: center;
  color: white;
}

.main_deckcheck {
  display: none;
}
.main_drawtest {
  display: none;
}

.landingpage_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
  gap: 10%;
  justify-content: center;
}

.block_landing {
  position: relative;
  width: 35vw;
  height: 22vh;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.block_landing p {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  margin: 0;
}

.block_landing img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: filter 0.3s ease;
}

.block_landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.block_landing:hover::before {
  opacity: 1;
}

.block_landing.fifa:hover::before {
  background-image: url(../assets/images/fifaverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.lego:hover::before {
  background-image: url(../assets/images/legomasterverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.pokemon:hover::before {
  background-image: url(../assets/images/pokemonverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.fortnite:hover::before {
  background-image: url(../assets/images/fortniteverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.lotr:hover::before {
  background-image: url(../assets/images/lotrverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.mtg {
  box-shadow: 0 20px 40px rgba(125, 201, 201, 0.8);
}

.block_landing.fifa {
  box-shadow: 0 20px 40px rgba(0, 0, 128, 0.8);
}

.block_landing.lego {
  box-shadow: 0 20px 40px rgba(255, 255, 0, 0.8);
}

.block_landing.pokemon {
  box-shadow: 0 20px 40px rgba(255, 255, 128, 0.8);
}

.block_landing.fortnite {
  box-shadow: 0 20px 40px rgba(173, 216, 230, 0.8);
}

.block_landing.lotr {
  box-shadow: 0 20px 40px rgba(174, 99, 8, 0.8);
}

.block_landing.mtg:hover {
  border: 6px solid rgba(0, 255, 0, 1);
  box-shadow: 0 0 10px 4px rgba(0, 255, 0, 0.5);
}

.block_landing.fifa:hover,
.block_landing.lego:hover,
.block_landing.pokemon:hover,
.block_landing.fortnite:hover,
.block_landing.lotr:hover {
  border: 6px solid rgba(255, 0, 0, 1);
  box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.5);
}

.block_landing:nth-child(1) {
  animation-delay: 0s;
}

.block_landing:nth-child(2) {
  animation-delay: 0.1s;
}

.block_landing:nth-child(3) {
  animation-delay: 0.2s;
}

.block_landing:nth-child(4) {
  animation-delay: 0.3s;
}

.block_landing:nth-child(5) {
  animation-delay: 0.4s;
}

.block_landing:nth-child(6) {
  animation-delay: 0.5s;
}
.circle-question {
  color: white;
  background-color: black;
  border: purple;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  cursor: help;
  position: absolute;
  top: 80px;
  right: 20px;
}

.custom-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-popup-content {
  background-color: black;
  border-radius: 1.8em;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  box-shadow: 20px 20px 20px rgba(128, 0, 128, 0.8);
  white-space: pre-line;
}
.custom-popup-content > * {
  color: white;
  margin: 20px;
}

.custom-popup-close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: 40vw;
}

.custom-popup-close:hover,
.custom-popup-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-popup-body {
  display: flex;
  align-items: center;
}

.custom-popup-text {
  flex-grow: 1;
  padding-left: 50px;
  font-size: x-large;
}
.custom-popup-content p {
  max-width: 100%;
}

.custom-popup-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  gap: 100px;
}

.header-btn {
  position: absolute;
  right: 20px;
  padding: 10px 20px;

  color: #333;
  border: none;
  border-radius: 0.5em;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.header-btn:hover,
.search-btn:hover {
  background-color: #a020f0;
}

.search-box {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-box input {
  padding: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  width: 200px;
  outline: none;
  border-radius: 20px;
  margin-right: 10px;
}

.search-box button {
  padding: 10px 20px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.search-box input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-box input:focus {
  outline: none;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  gap: 1em;
}

.image {
  flex-basis: 18%;
  margin: 0.5em;
  height: 320px;
  cursor: pointer;
  transition: transform 0.3s;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.image:hover {
  transform: scale(1.05);
}
.image
  img[src="./assets/images/saruman-of-many-colors-store-championship-foil-85280.jpg"],
[src="./assets/images/brimaz-king-of-oreskos-born-of-the-gods-88867.jpg"],
[src="./assets/images/animar-soul-of-elements-50772 (1).jpg"],
[src="./assets/images/selvala-heart-of-the-wilds-76483.jpg"],
[src="./assets/images/razaketh-the-foulblooded-70322.jpg"],
[src="./assets/images/morophon-the-boundless-26736.jpg"],
[src="./assets/images/kiki-jiki-mirror-breaker-modern-masters-2015-71805.jpg"],
[src="./assets/images/the_ur_dragon.jpg"],
[src="./assets/images/lord-of-the-nazgul-39803.jpg"] {
  border: 2px solid red;
}
.image img[src="./assets/images/zellix-sanity-flayer-extended-art-18246.jpg"],
[src="./assets/images/baeloth-barrityl-entertainer-extended-art-73305.jpg"],
[src="./assets/images/the-gaffer-32110.jpg"],
[src="./assets/images/arwen_weaver_of_hope.jpg"],
[src="./assets/images/Test 8.jpg"],
[src="./assets/images/Test 5.jpg"] {
  border: 2px solid white;
}
.image img[src="./assets/images/mikaeus-the-unhallowed-42930.jpg"],
[src="./assets/images/greensleeves_maro_sorcerer_dominaria_united_commander.jpg"],
[src="./assets/images/urza-lord-protector-76778.jpg"],
[src="./assets/images/Test 6.jpg"],
[src="./assets/images/test 4.jpg"],
[src="./assets/images/Test 3.jpg"] {
  border: 2px solid blue;
}
.image img[src="./assets/images/syr-konrad-the-grim-87113.jpg"],
[src="./assets/images/mishra-claimed-by-gix-16597.jpg"],
[src="./assets/images/sakashima-the-impostor-64139.jpg"],
[src="./assets/images/mangara-the-diplomat-30594.jpg"],
[src="./assets/images/marrow_gnawer_foil.jpg"],
[src="./assets/images/questing-beast-throne-of-eldraine-11267.jpg"],
[src="./assets/images/Test 10.jpg"],
[src="./assets/images/Test 2.jpg"],
[src="./assets/images/Test.jpg"] {
  border: 2px solid yellow;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  clear: both;
}

.pagination button,
.pagination span {
  margin: 0 0.5em;
}

.page-number {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #555;
  margin: 0 5px;
  color: #f5f5f5;
}

.page-number.active {
  background-color: purple;
  color: white;
}
#backToTopBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: purple;
  color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  z-index: 99;
  text-decoration: none;
}
.image-gallery.visible {
  display: flex;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: black;
  border-radius: 1.8em;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  box-shadow: 20px 20px 20px rgba(128, 0, 128, 0.8);
}

.modal-content > * {
  color: white;
  margin: 20px;
}
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: 40vw;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



select,
#addToDeck {
  padding: 10px;

  background-color: purple;
  color: white;
}


.custom-deck-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.custom-deck-card {
  width: 100%;
  text-align: center;
}

.custom-deck-card img {
  max-width: 70%;
  height: auto;
}

.deck-number {
  background-color: purple;
  color: black;
  padding: 2px 6px;
  margin: 3px 0;
  border-radius: 2px;
}

.detail-info-container {
  margin: 20px;
  padding: 2px 6px; /* Kleinere padding */
  margin: 3px 0; /* Kleinere marges */
  border-radius: 2px; /* Kleinere border-radius */
}

.add-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
}

/*DECK DETAIL*/
.deck-detail-content{
  height: 30vh;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5em;
}
.card-amount-info{
  color: white; text-align: center;
  margin-top: 10px;
}
.deck-head-section{
  display: flex;
  justify-content: space-around;
}
.Deck-information-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.Deck-information-content > *{
  color: white;
}

.image-deck-detail img{
  height: 29vh;
  width: 15vw;

}

.button-backto-deck{
  color: white;
  font-size: large;  
  margin:20px ;
  padding: 5px;
  border: solid white 2px;
  border-radius: 2em;
  height: 20px;
}

.container {
  max-width: 35%;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  max-width: 65%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.registration {
  background-color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.registration > * {
  margin-bottom: 20px;
}

.login-link {
  color: white;
  text-align: center;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

label {
  color: #fff;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 24px);
  padding: 15px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  background-color: #282c34;
  color: #fff;
}

button[type="submit"] {
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-form > * {
  margin-bottom: 10px;
}

.login-link {
  text-align: center;
  color: white;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
.cardinfo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.cardinfo-image {
  text-align: center;
}

.cardinfo-image img {
  max-width: 70%;
  height: auto;
}

.cardinfo-text {
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 40%;
  margin-top: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.content {
  font-size: 16px;
  line-height: 1.5;
}

.confirmation {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation:focus {
  outline: none;
}

@media (max-width: 1024px) {
  #logo {
    max-width: 10%;

  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet */
@media (max-width: 1000px) {
  .image {
    flex-basis: 30%;
  }


  select,
  #addToDeck {
    width: 100%;
    margin: 10px 0;
  }
  .landingpage_container {
    row-gap: 40px;
  }

  .block_landing {
    width: 90%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .search-box input {
    width: 100%;
    margin-right: 0;
  }

  .custom-deck-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  input[type="email"],
  input[type="password"],
  button[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
  }

  #logo {
    max-width: 12%;
    height: fit-content;
  }

  .container {
    max-width: 80%;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  
  input[type="email"],
  input[type="password"],
  button[type="submit"] {
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .landingpage_container {
    row-gap: 40px;
  }

  .block_landing {
    width: 40%;
    height: auto;
  }

  hr {
    margin-top: 2vh;
  }


  .image-deck{
    height: 250px;
    width: 150px;
  }

    .draw-cards-decks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px ;
    }
    .draw-interaction-btn{
    display: flex;
    flex-direction: row;
    gap: 10VW;
    margin-top: 2vh;
    justify-content: center;
  }
  .draw-select-options option{
    text-align: center;
  }

  .draw-interaction-btn button{
    font-size: small;
    padding: 15px 10px;
    background-color: purple; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .draw-cards-summary{
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 480px) {
  .search-box input {
    max-width: 200px;
  }
 #logo{
  max-width: 12%;
 }
  .deck-detail-content{
    gap: 20px  ;
    
  }
  .deck-detail-placeholder{
    display: none;
  }
  .image-deck-detail img{
    height: 29vh;
    width: fit-content;
  
  }
  
  .image {
    flex-basis: 80%;
    height: 300px;
    margin-bottom: 1em;
  }

  .landingpage_container {
    row-gap: 40px;
  }

  .block_landing {
    width: 90%;
    height: auto;
  }
}
/* Voor schermen van 768px en groter */
@media only screen and (min-width: 768px) {
  .cardinfo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .cardinfo-image {
    text-align: center;
  }

  .cardinfo-image img {
    max-width: 70%;
    height: auto;
  }

  .cardinfo-text {
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    margin-top: 20px;
  }
}

/* Voor schermen van 480px en groter */
@media only screen and (max-width: 479px) {
  .cardinfo-container {
    flex-direction: column;
  }

  .cardinfo-text {
    width: 70%;
  }
}
