* {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}
header {
  background-color: black;
  box-shadow: 0 10px 20px rgba(128, 0, 128, 0.8);
  position: sticky;
  top: 0;
  height: 120px;
  z-index: 1000;
}

#logo {
  position: fixed;
  top: 1px;
  left: 15px;
  max-width: 120px; /* Aangepaste maximale breedte */
  height: auto;
}

footer {
  margin: 10px;
  text-align: center;
  color: white;
}

main {
  height: auto;
  position: relative;
}

.main_deckcheck {
  display: none;
}
.main_drawtest {
  display: none;
}

/*Landing page gedeelte */
.landingpage_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px; /* Je kunt de waarde aanpassen om de gewenste ruimte tussen de blokken in te stellen */
  justify-items: center;
  align-items: center;
}

.block_landing {
  position: relative;
  width: 70%;
  height: 70%;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.block_landing p {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  margin: 0;
}

.block_landing img {
  width: 100%; /* Neemt 100% van de breedte van de ouder (div) */
  height: 100%; /* Neemt 100% van de hoogte van de ouder (div) */
  object-fit: fill; /* Behoudt de aspectverhouding en vult de container volledig */
  transition: filter 0.3s ease;
}

.block_landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover effecten */
.block_landing:hover::before {
  opacity: 1;
}

.block_landing.fifa:hover::before {
  background-image: url(../assets/images/fifaverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.lego:hover::before {
  background-image: url(../assets/images/legomasterverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.pokemon:hover::before {
  background-image: url(../assets/images/pokemonverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.fortnite:hover::before {
  background-image: url(../assets/images/fortniteverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.lotr:hover::before {
  background-image: url(../assets/images/lotrverbodentoegang.jpg);
  background-size: 100% 100%;
}

.block_landing.mtg {
  box-shadow: 0 20px 40px rgba(125, 201, 201, 0.8);
}

.block_landing.fifa {
  box-shadow: 0 20px 40px rgba(0, 0, 128, 0.8);
}

.block_landing.lego {
  box-shadow: 0 20px 40px rgba(255, 255, 0, 0.8);
}

.block_landing.pokemon {
  box-shadow: 0 20px 40px rgba(255, 255, 128, 0.8);
}

.block_landing.fortnite {
  box-shadow: 0 20px 40px rgba(173, 216, 230, 0.8);
}

.block_landing.lotr {
  box-shadow: 0 20px 40px rgba(174, 99, 8, 0.8);
}

/*Extra hover effecten bij ongeldige projecten + geldige*/
.block_landing.mtg:hover {
  border: 6px solid rgba(0, 255, 0, 1);
  box-shadow: 0 0 10px 4px rgba(0, 255, 0, 0.5);
}

.block_landing.fifa:hover,
.block_landing.lego:hover,
.block_landing.pokemon:hover,
.block_landing.fortnite:hover,
.block_landing.lotr:hover {
  border: 6px solid rgba(255, 0, 0, 1);
  box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.5);
}

/* Vertraging animatie voor block-landings enzo */
.block_landing:nth-child(1) {
  animation-delay: 0s;
}

.block_landing:nth-child(2) {
  animation-delay: 0.1s;
}

.block_landing:nth-child(3) {
  animation-delay: 0.2s;
}

.block_landing:nth-child(4) {
  animation-delay: 0.3s;
}

.block_landing:nth-child(5) {
  animation-delay: 0.4s;
}

.block_landing:nth-child(6) {
  animation-delay: 0.5s;
}
/* Standaardstijlen die je al hebt gedefinieerd */

/* Responsive aanpassingen */
@media (max-width: 1024px) {
  .landingpage_container {
    grid-template-columns: repeat(2, 1fr); /* 2 kolommen voor tablets */
    grid-auto-rows: minmax(
      200px,
      auto
    ); /* Minimale hoogte voor rijen, maar flexibel */
  }
  .block_landing {
    width: 80%; /* Iets meer breedte binnen de kolom */
    height: auto; /* Aanpassen aan inhoud om stapeling te voorkomen */
  }
}

@media (max-width: 768px) {
  .landingpage_container {
    grid-template-columns: 1fr; /* 1 kolom voor mobiele apparaten */
    grid-auto-rows: minmax(
      300px,
      auto
    ); /* Aangepaste minimale hoogte voor rijen op mobiel */
  }
  .block_landing {
    width: 90%; /* Maximale breedte binnen de kolom voor mobiele apparaten */
    height: auto; /* Aanpassen aan inhoud om stapeling te voorkomen */
  }
  .block_landing img {
    object-fit: cover; /* Zorgt dat afbeeldingen netjes passen zonder de verhouding te verliezen */
  }
}
/*MAIN PAGE*/

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 1em;
}

header nav ul li.active a {
  background-color: #f5f5f5;
  color: black;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 1em;
  border-radius: 20px;
}

.header-btn {
  position: absolute;
  right: 20px;
  padding: 10px 20px;
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.header-btn:hover,
.search-btn:hover {
  background-color: #a020f0;
}

.search-box {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-box input {
  padding: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  width: 200px;
  outline: none;
  border-radius: 20px;
  margin-right: 10px;
}

.search-box button {
  padding: 10px 20px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.search-box input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-box input:focus {
  outline: none;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  row-gap: 1em;
}

/* MET IMAGE + IMAGE img spelen want het lukt mij niet, werk nogsteed met flex-basis */
/*GELUKT*/
.image {
  flex-basis: calc(18% - 2em);
  margin: 0.5em;
  height: 320px;
  cursor: pointer;
  transition: transform 0.3s;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.image:hover {
  transform: scale(1.05);
}
.image
  img[src="./assets/images/saruman-of-many-colors-store-championship-foil-85280.jpg"],
[src="./assets/images/brimaz-king-of-oreskos-born-of-the-gods-88867.jpg"],
[src="./assets/images/animar-soul-of-elements-50772 (1).jpg"],
[src="./assets/images/selvala-heart-of-the-wilds-76483.jpg"],
[src="./assets/images/razaketh-the-foulblooded-70322.jpg"],
[src="./assets/images/morophon-the-boundless-26736.jpg"],
[src="./assets/images/kiki-jiki-mirror-breaker-modern-masters-2015-71805.jpg"],
[src="./assets/images/the_ur_dragon.jpg"],
[src="./assets/images/lord-of-the-nazgul-39803.jpg"] {
  border: 2px solid red;
}
.image img[src="./assets/images/zellix-sanity-flayer-extended-art-18246.jpg"],
[src="./assets/images/baeloth-barrityl-entertainer-extended-art-73305.jpg"],
[src="./assets/images/the-gaffer-32110.jpg"],
[src="./assets/images/arwen_weaver_of_hope.jpg"],
[src="./assets/images/Test 8.jpg"],
[src="./assets/images/Test 5.jpg"] {
  border: 2px solid white;
}
.image img[src="./assets/images/mikaeus-the-unhallowed-42930.jpg"],
[src="./assets/images/greensleeves_maro_sorcerer_dominaria_united_commander.jpg"],
[src="./assets/images/urza-lord-protector-76778.jpg"],
[src="./assets/images/Test 6.jpg"],
[src="./assets/images/test 4.jpg"],
[src="./assets/images/Test 3.jpg"] {
  border: 2px solid blue;
}
.image img[src="./assets/images/syr-konrad-the-grim-87113.jpg"],
[src="./assets/images/mishra-claimed-by-gix-16597.jpg"],
[src="./assets/images/sakashima-the-impostor-64139.jpg"],
[src="./assets/images/mangara-the-diplomat-30594.jpg"],
[src="./assets/images/marrow_gnawer_foil.jpg"],
[src="./assets/images/questing-beast-throne-of-eldraine-11267.jpg"],
[src="./assets/images/Test 10.jpg"],
[src="./assets/images/Test 2.jpg"],
[src="./assets/images/Test.jpg"] {
  border: 2px solid yellow;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  clear: both;
}

.pagination button,
.pagination span {
  margin: 0 0.5em;
}

.page-number {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #555;
  margin: 0 5px;
  color: #f5f5f5;
}

.page-number.active {
  background-color: purple;
  color: white;
}
#backToTopBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: purple;
  color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  z-index: 99;
  text-decoration: none;
}


.image-gallery {
  display: none;
}

/* Mediaquery voor schermen met een maximale breedte van 480px */
@media only screen and (max-width: 480px) {
  header nav ul {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
  }

  header nav ul li {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  header nav ul li.active a {
    background-color: #f5f5f5;
    color: black;
  }

  header nav ul li a {
    display: block;
    color: white;
    padding: 1em;
    border-radius: 20px;
  }

  .image {
    flex-basis: calc(50% - 1em);
  }

  .overlay {
    width: 100%;
    height: 100%;
  }

  .overlay-content {
    top: 25%;
  }

  .closebtn {
    top: 0;
    right: 15px;
    font-size: 30px;
  }
}

/*mainpage modalgedee*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: black;
  border-radius: 1.8em;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  box-shadow: 20px 20px 20px rgba(128, 0, 128, 0.8);
}

.modal-content > * {
  color: white;
  margin: 20px;
}
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-right: 100px;
  margin-bottom: 300px;
  margin-left: 100px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image-modal img {
  max-width: 200px;
  height: 300px;
  margin-right: 20px;
}

.modal-body {
  display: flex;
  align-items: center;
}

.modal-text {
  flex-grow: 1;
  padding-left: 50px;
  font-size: x-large;
}

.modal-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  gap: 100px;
}

select,
#addToDeck {
  padding: 10px;

  background-color: purple;
  color: white;
}
/*DECK PAGE */
.deck-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.deck-wrapper {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}
.deck-external-text {
  margin-top: 1em;
}
.deck-container {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.deck-container img {
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}

.deck-add-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 0.5em;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
/*DECK DETAIL*/
.detail-info-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.deck-img-profiel {
  height: 250px;
  width: 200px;
  background: #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.deck-detail-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
.temporary-card {
  height: 300px;
  width: 200px;
  background: #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.closeDeckDetail{
 color: red;
  font-size: 28px;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 400px;
margin-bottom: 200px;
}

.deckDetailPageModal{
  color: white;
 margin-top: 100px;
  margin-left: 100px;
   border-color: white;
  
}

.deckDetailPageContent{


}

.deckDetailPageBody{
  
}

.deckDetailPageImage{
  
}

.deckDetailPageText{
  margin-left: 400px;
 
 font-size: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px){
  .deck-container{
    background-color: yellow;
    width: 250px;
    height: 250px;
  }
  .image{
    flex-basis: 20%;
    height: 300px; 
  }
}


/* Tablet */
@media (max-width: 1000px) {

  .image {
      flex-basis: 30%;
  }

  .modal-content {
    margin: 10% auto;
    width: 90%;
}

.modal-body {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-modal img {
    max-width: 100%;
    margin: 0 0 20px 0; 
}

.modal-text {
    width: 100%; 
}

.modal-bottom {
    flex-direction: column;
}

select, #addToDeck {
    width: 100%; 
    margin: 10px 0; 
}


}

/* Mobile */
@media (max-width: 600px) {
  .block_landing {
    width: 90%;
    height: 180px;
  }
  .image {
      flex-basis: 98%; /* 1 image per row */
  }
  .modal-content {
    margin: 20% auto; 
}

.close {
    font-size: 24px; 
}
.deck-add-btn {
  padding: 8px 16px;
}


.deckDetailPageText{
  margin-left: 40px;
 
 font-size: 10px;
}


.container {
  max-width: 35%;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  max-width: 65%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.registration {
  background-color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.registration > * {
  margin-bottom: 20px;
}

.login-link {
  color: white;
  text-align: center;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 10px; /* Aangepast om dichter bij de afbeelding te zijn */
}

label {
  color: #fff;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 24px);
  padding: 15px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  background-color: #282c34;
  color: #fff;
}

button[type="submit"] {
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-form > * {
  margin-bottom: 10px; /* Aangepast om dichter bij de afbeelding te zijn */
}

.login-link {
  text-align: center;
  color: white;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
/*MEDIAQUERY VOOR LOGIN EN REGISTRATIE*/
@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  input[type="email"],
  input[type="password"],
  button[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  input[type="email"],
  input[type="password"],
  button[type="submit"] {
    padding: 10px;
    font-size: 14px;
  }
}

