* {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Achtergrondkleur van de body */

  position: relative;
  padding-top: 90px; /* Ruimte boven de inhoud voor de header en het witte scheidingseffect */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Hoogte van de header */
  background-color: #191b21; /* Achtergrondkleur van de header */
  box-shadow: 0 10px 20px rgba(128, 0, 128, 0.8); /* Paarse schaduw */
  z-index: 2; /* Zorg ervoor dat de header bovenop de content ligt */
}

form input {
  padding: 10px;
  border-radius: 25px;
  display: flex;
}
form label {
  padding-bottom: 10px;
  display: flex;
}

h1 {
  color: orange;
  font-size: 50px;
}

.landingpage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh; /* Minimale hoogte van 100% van de viewport */
}

.block_landing {
  position: relative;
  width: 45%;
  height: 30vh;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8); /* Standaard 3D-effect */
  overflow: hidden;
  border-radius: 20px;
  margin: 10px;
  transition: box-shadow 0.3s ease;
}.landingpage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh; /* Minimale hoogte van 100% van de viewport */
}

/* Voeg animatie toe aan de kaders */
@keyframes slideIn {
  0% {
    transform: translateY(-100%); /* Startpositie boven het scherm */
  }
  100% {
    transform: translateY(0); /* Eindpositie op de normale positie */
  }
}

.block_landing {
  position: relative;
  width: 45%;
  height: 30vh;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8); /* Standaard 3D-effect */
  overflow: hidden;
  border-radius: 20px;
  margin: 10px;
  animation: slideIn 0.5s ease-in-out; /* Voeg de animatie toe */
}

.block_landing img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: filter 0.3s ease;
}

.block_landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.block_landing:hover::before {
  opacity: 1;
}

/* Hover effecten voor specifieke elementen */

.block_landing.fifa:hover::before {
  background-image: url(../assets/images/fifaverbodentoegang.jpg); /* Vervang door gewenste afbeelding */
  background-size: 100% 100%; /
}

.block_landing.lego:hover::before {
  background-image: url(../assets/images/legomasterverbodentoegang.jpg); /* Vervang door gewenste afbeelding */
  background-size: 100% 100%; 
}

.block_landing.pokemon:hover::before {
  background-image: url(../assets/images/pokemonverbodentoegang.jpg); /* Vervang door gewenste afbeelding */
  background-size: 100% 100%; }

.block_landing.fortnite:hover::before {
  background-image: url(../assets/images/fortniteverbodentoegang.jpg); /* Vervang door gewenste afbeelding */
  background-size: 100% 100%; 
}

.block_landing.lotr:hover::before {
  background-image: url(../assets/images/lotrverbodentoegang.jpg); /* Vervang door gewenste afbeelding */
  background-size: 100% 100%; /
}

/* 3D-effecten voor specifieke elementen */
.block_landing.mtg {
  box-shadow: 0 20px 40px rgba(125, 201, 201, 0.8); /* Appelblauwzeegroen 3D-effect */
}

.block_landing.fifa {
  box-shadow: 0 20px 40px rgba(0, 0, 128, 0.8); /* Donkerblauw 3D-effect */
}

.block_landing.lego {
  box-shadow: 0 20px 40px rgba(255, 255, 0, 0.8); /* Geel 3D-effect */
}

.block_landing.pokemon {
  box-shadow: 0 20px 40px rgba(255, 255, 128, 0.8); /* Lichtere geel 3D-effect */
}

.block_landing.fortnite {
  box-shadow: 0 20px 40px rgba(173, 216, 230, 0.8); /* Lichtblauw 3D-effect */
}

.block_landing.lotr {
  box-shadow: 0 20px 40px rgba(174, 99, 8, 0.8); /* Zwarte schaduw */
}
.block_landing.mtg:hover {
  border: 6px solid rgba(0, 255, 0, 1); /* Groene rand */
  box-shadow: 0 0 10px 4px rgba(0, 255, 0, 0.5); /* Groene schaduw */
}

.block_landing.fifa:hover,
.block_landing.lego:hover,
.block_landing.pokemon:hover,
.block_landing.fortnite:hover,
.block_landing.lotr:hover {
  border: 6px solid rgba(255, 0, 0, 1); /* Rode rand */
  box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.5); /* Rode schaduw */
}
@media only screen and (max-width: 600px) {
  .block_landing {
    width: 90%;
    height: 180px;
  }
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #191b21;
  border: 2px solid #21232b;
  border-radius: 10px;
}
.container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.registration {
  background-color: #21232b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

label {
  color: #fff;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 24px);
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  background-color: #282c34;
  color: #fff;
}

button[type="submit"] {
  background-color: goldenrod;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
