<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="/js/styling-register.js" defer></script>

</head>

<body>
  <header>
    <a href="/main"> <img id="logo" src="./assets/images/LogoMuskNite.png" alt="Logo" /></a>
    <nav id="navbar">
      <ul>
        <li class="<%= activePage === 'home' ? 'active' : '' %>"><a href="/main">Home</a></li>
        <li class="<%= activePage === 'decklist' ? 'active' : '' %>"><a href="/decklist">Deck</a></li>
        <li class="<%= activePage === 'draw' ? 'active' : '' %>"><a href="/overview">+Draw</a></li>
        <li><a href="/login"><i class="fa-solid fa-right-from-bracket"></i> log uit </a></li>
      </ul>      
    </nav>
    <button id="hamburger" aria-label="Open navigation menu" class="hamburger">&#9776;</button>

    <nav id="nav-menu" class="nav-menu">
      <ul>
        <li><a href="/main">HOME</a></li>
      </ul>
      <ul>
        <li><a href="/decklist">Deck</a></li>
      </ul>
      <ul>
        <li><a href="/overview">+Draw</a></li>
      </ul>
      <ul>
        <li><a href="/login"><i class="fa-solid fa-right-from-bracket"></i> log uit </a></li>
      </ul>
    </nav>
    
  </header>

  