<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="/js/styling-register.js" defer></script>

</head>

<body>
  <header>
    <a href="/main"> <img id="logo" src="./assets/images/LogoMuskNite.png" alt="Logo" /></a>
    <nav id="navbar">
      <ul>
        <li class="active"><a href="/main">Home</a></li>
        <li><a href="/decklist">Deck</a></li>
        <li><a href="/overview">+Draw</a></li>
      </ul>
    </nav>
    <button id="hamburger" aria-label="Open navigation menu" class="hamburger">&#9776;</button>
    <nav id="nav-menu" class="nav-menu">
      <ul>
        <li><a href="/index"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        <li>
          <div id="popup" class="popup-container">
            <button class="close-button"> <i class="fa-solid fa-times"></i> </button>
            <button id="sound-switch" class="popup-button switch-button">
              <span class="switch-label">Geluid aan</span>
              <div class="switch-slider">
                <div class="switch-circle"></div>
              </div>
            </button>
          </div>
        </li>
      </ul>
    </nav>

  </header>


  <script>
    let soundSwitch = document.getElementById("sound-switch");
    let audio = new Audio("./assets/sound/geluid.mp3");
    let isPlaying = false;

    function playMusic() {
      audio.play();
      isPlaying = true;
      soundSwitch.querySelector(".switch-label").textContent = "Geluid uit";
    }

    function stopMusic() {
      audio.pause();
      audio.currentTime = 0;
      isPlaying = false;
      soundSwitch.querySelector(".switch-label").textContent = "Geluid aan";
    }

    soundSwitch.addEventListener("click", function () {
      if (isPlaying) {
        stopMusic();
      } else {
        playMusic();
      }
      this.classList.toggle("on");
    });

    let iconButton = document.querySelector(".icon-button");
    let popup = document.getElementById("popup");

    iconButton.addEventListener("click", function () {
      popup.style.display = "block";
    });


    let overlay = document.createElement("div");
    overlay.className = "overlay";
    document.body.appendChild(overlay);
    overlay.addEventListener("click", function () {
      popup.style.display = "none";
    });

    let closeButton = document.querySelector(".close-button");
    closeButton.addEventListener("click", function () {
      popup.style.display = "none";
    });
    //MOMENTEEL JAVASCRIPT IN EJS WORDT NOG VERZET NAAR JS MAAR MOMENTEEL WERKT HET NIET.

  </script>