

<%- include('./partials/header') %>

    
    <a href="/main" class="button-backto-deck-2"
          ><i class="fa-solid fa-arrow-left"></i
        ></a>
    <main>
    <div class="cardinfo-container">
   
        <article class="cardinfo-image">
          <img
            src="./assets/images/mishra-claimed-by-gix-16597.jpg"
            alt="Mishra claimed by Gix"
          />
        </article>
        <h2 class="cardinfo-amount">1 / 4</h2>
        <div class="cardinfo-text">
          <h1 class="title">Mishra claimed by Gix</h1>
            <div class="extra-buttons-cardinfo">
            <button class="confirmation">Keuze bevestiggen</button>
            <button class="add-less">+</button>
            <button class="add-less">-</button>
          </div>
        </div>
    </div>
  </main>
  </body>
<%- include('./partials/footer') %>