
<%- include('./partials/header') %>

   
    <a href="/mainpage" class="button-backto-deck-2"
          ><i class="fa-solid fa-arrow-left"></i
        ></a>
    <main class="main-cardinfo">
   

    <div class="cardinfo-container">
      <article class="cardinfo-image">
        <img
          src="./assets/images/mishra-claimed-by-gix-16597.jpg"
          alt="Mishra claimed by Gix"
        />
      </article>
      <div class="cardinfo-text">
        <h1 class="title">Mishra claimed by Gix</h1>
        <p class="content">
          Elke keer dat je aanvalt, verliest elke tegenstander X leven en krijg
          jij X leven, waarbij X het aantal aanvallende wezens is. Als Mishra,
          Geclaimed door Gix en een wezen genaamd Phyrexian Dragon Engine
          aanvallen, en je ze allebei bezit en bestuurt, exile ze dan, en smelt
          ze dan samen tot Mishra, Verloren aan Phyrexia. Het komt getapt en
          aanvallend in het slagveld met 9.
        </p>

        <br>

        <p class="content">
          Elke keer dat je aanvalt, verliest elke tegenstander X leven en krijg
          jij X leven, waarbij X het aantal aanvallende wezens is. Als Mishra,
          Geclaimed door Gix en een wezen genaamd Phyrexian Dragon Engine
          aanvallen, en je ze allebei bezit en bestuurt, exile ze dan, en smelt
          ze dan samen tot Mishra, Verloren aan Phyrexia. Het komt getapt en
          aanvallend in het slagveld met 9.
        </p>
        <div class="buttons-cardinfo">

        <section class="draw-select-options">
          <select>
            <option>Kies Stappel</option>
            <option>Stappel 1</option>
            <option>Stappel 2</option>
            <option>Stappel 3</option>
          </select>
        </section>
        <button class="confirmation">Keuze bevestiggen</button>
      </div>
      </div>
    </div>
  </main>
  </body>

<%- include('./partials/footer') %>
