<%- include('./partials/header') %>
 
    <div class="custom-deck-container">
      <div class="custom-deck-card">
        <a href="/deckdetailpage">
            <img src="./assets/images/mtgachterkant.jpg" alt="Urza, Lord Protector" />
        </a>
        <p class="deck-name">Mono Red Aggro</p>
    </div>
      <div class="custom-deck-card">
        <img src="./assets/images/mtgachterkant.jpg" alt="Arwen, Weaver of Hope" />
        <p class="deck-name">Jund Midrange</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgachterkant.jpg" alt="The Gaffer" />
        <p class="deck-name">Storm Combo</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgachterkant.jpg" alt="The Ur-Dragon" />
        <p class="deck-name">Green Ramp</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgachterkant.jpg" alt="Questing Beast" />
        <p class="deck-name">Merfolk Tribal</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgachterkant.jpg" alt="Marrow-Gnawer" />
        <p class="deck-name">Golgari Reanimator</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgachterkant.jpg" alt="Greensleeves, Maro Sorcerer" />
        <p class="deck-name">Izzet Tempo</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgachterkant.jpg" alt="Mangara, the Diplomat" />
        <p class="deck-name">Azorius Control</p>
      </div>
      
    </div>
    
    </main>
    
    
    

  </body>
  <hr>
 
<%- include('./partials/footer') %>