<%- include('./partials/header') %>
 
    <div class="custom-deck-container">
      <div class="custom-deck-card">
        <a href="/deckdetailpage">
            <img src="./assets/images/mtgkaartachterkant.jpg" alt="Urza, Lord Protector" />
        </a>
        <p class="deck-number">Stapel 1</p>
    </div>
      <div class="custom-deck-card">
        <img src="./assets/images/mtgkaartachterkant.jpg" alt="Arwen, Weaver of Hope" />
        <p class="deck-number">Stapel 2</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgkaartachterkant.jpg" alt="The Gaffer" />
        <p class="deck-number">Stapel 3</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgkaartachterkant.jpg" alt="The Ur-Dragon" />
        <p class="deck-number">Stapel 4</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgkaartachterkant.jpg" alt="Questing Beast" />
        <p class="deck-number">Stapel 5</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgkaartachterkant.jpg" alt="Marrow-Gnawer" />
        <p class="deck-number">Stapel 6</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgkaartachterkant.jpg" alt="Greensleeves, Maro Sorcerer" />
        <p class="deck-number">Stapel 7</p>
      </div>
      
      <div class="custom-deck-card">
        <img src="./assets/images/mtgkaartachterkant.jpg" alt="Mangara, the Diplomat" />
        <p class="deck-number">Stapel 8</p>
      </div>
      
    </div>
    
    </main>
    
    
    

  </body>
  <hr>
 
<%- include('./partials/footer') %>