<%- include('./partials/header') %>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <header>
      <ul class="nav">
        <a href="landingpage.ejs" class="nav-link" aria-current="page"
          ><img src="assets/images/go-back-icon.png" width="50" height="50"
        /></a>
        <a class="nav-link"></a>
      </ul>
    </header>


    <main>
      <section class="modal">
        <span class="close-btn">X</span>
        <div class="modal-content">
          <article class="image-modal">
            <img
              src="./assets/images/mishra-claimed-by-gix-16597.jpg"
              alt="Image description"
            />
          </article>

            <div></div>
        </div>
      </section>
    
    </main>
  </body>
<%- include('./partials/footer') %>