<%- include('./partials/header') %>
  

    <main>
      <section class="modal">
        <span class="close-btn">X</span>
        <div class="modal-content">
          <article class="image-modal">
            <img
              src="./assets/images/mishra-claimed-by-gix-16597.jpg"
              alt="Image description"
            />
          </article>

            <div></div>
        </div>
      </section>
    
    </main>
  </body>
<%- include('./partials/footer') %>