<%- include('./partials/header') %>

    <section class="container">
      <img src="./assets/images/mtg.png" alt="Magic the Gathering" />
      <section class="login-form">
        <h1>Login</h1>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required />
        <label for="password">Wachtwoord</label>
        <input type="password" id="password" name="password" required />
        <a href="/mainpage"><button type="submit">Login</button></a>
        <p class="login-link">
          Nog geen lid? <a href="/registreer">Registreer hier!</a>
        </p>
      </section>
    </section>
  </body>
<%- include('./partials/footer') %>