<%- include('./partials/head') %>

<style>
  
.container {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1.5em;
}

.container img {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  border-top-style: solid;
  border-top-width: 40px;
}

form.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.login h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

form.login label {
  font-size: 18px;
  margin: 10px 0 5px;
}

form.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

form.login button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: purple;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form.login button:hover {
  background-color: #0056b3;
  border: solid white 2px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.login-link {
  margin-top: 20px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 700px) {
  form.login h1 {
    font-size: 22px;
  }

  form.login label {
    font-size: 16px;
  }

  form.login input {
    font-size: 14px;
  }

  form.login button {
    font-size: 14px;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .container img {
    max-width: 30%;
  }
  form.login h1 {
    font-size: 26px;
  }

  form.login label {
    font-size: 20px;
  }

  form.login input {
    width: 80%;
    padding: 12px;
    font-size: 18px;
  }

  form.login button {
    width: 80%;
    padding: 12px;
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  
.container img {
  max-width: 35%;
  margin-top: 0;
  margin-bottom: 2em;
}

  form.login h1 {
    font-size: 28px;
  }

  form.login label {
    font-size: 22px;
  }

  form.login input {
    width: 100%;
    padding: 14px;
    font-size: 20px;
  }

  form.login button {
    width: 70%;
    padding: 14px;
    font-size: 20px;
  }
}
</style>
<body>
  <section class="container">
    <img src="./assets/images/LogoMuskNite.png" alt="Magic the Gathering" /> 
    <form class="login" action="/login" method="post" id="login-form">
      <h1>Login</h1>
      <label for="email">E-mailadres</label>
      <input type="email" id="email" name="email" required />
      <span id="email-error-message" class="error-message"></span>
      <label for="password">Wachtwoord</label>
      <input type="password" id="password" name="password" required />
      <span id="password-error-message" class="error-message"></span>
      <button  type="submit">Login</button>
    </form>     

    <% if (error_message !== "") { %>
      <div class="error-message"><%= error_message %>  </div>
  <% } %>

  
    <section class="login-link">
      <p>Nog geen lid? <a href="/register">Registreer hier!</a></p>
    </section>
  </section>
</body>
<%- include('./partials/footer') %>
