<%- include('./partials/head') %>
<body>
  <section class="container">
    <img src="./assets/images/LogoMuskNite.png" alt="Magic the Gathering" /> 
    <form class="login" action="/login" method="post" id="login-form">
      <h1>Login</h1>
      <label for="email">Emailadres</label>
      <input type="email" id="email" name="email" required />
      <span id="email-error-message" class="error-message"></span>
      <label for="password">Wachtwoord</label>
      <input type="password" id="password" name="password" required />
      <span id="password-error-message" class="error-message"></span>
      <button  type="submit">Login</button>
    </form>     

    <% if (error_message !== "") { %>
      <div class="error-message"><%= error_message %>  </div>
  <% } %>

  
    <section class="login-link">
      <p>Nog geen lid? <a href="/register">Registreer hier!</a></p>
    </section>
  </section>
</body>
<%- include('./partials/footer') %>
