<%- include('./partials/head') %>

  <body>
    <header>
      <img id="logo" src="./assets/images/LogoMuskNite.png" alt="Logo" />
      <nav>
        <ul>
          <li class="active"><a href="/mainpage">Home</a></li>
          <li><a href="/deckpage">Deck</a></li>
          <li><a href="/index">+Draw</a></li>
        </ul>
      </nav>
      <a href="/landingpage" class="logout-button"><i class="fa-solid fa-right-from-bracket"></i></a>
    </header>

    <div class="search-box">
      <input type="text" placeholder="Zoeken..." />
      <button>Zoeken</button>
    </div>


    <main>

      <section class="image-gallery">
        <% for( card of cards ) { %>
          <article class="image">
            <a href="/cardinfopage">
              <img src="<%= card.imageUrl %>" alt="<%= card.name %>" />
            </a>
          </article>
          <% } %>
      </section>

 
    </main>


    <hr>
    <footer>
      <p>
        2024 &copy; Magic The Gathering - Kubra Kizilkilic, Ibtissam Bouchouari,
        Nestor Lenaerts
      </p>
    </footer>

  </body>
  <%- include('./partials/footer') %>