<%- include('./partials/head') %>
  <body>
    <header>
     <a href="/main"> <img id="logo" src="./assets/images/LogoMuskNite.png" alt="Logo" /></a>
    <nav>
      <ul>
        <li class="active"><a href="/main">Home</a></li>
        <li ><a href="/decklist">Deck</a></li>
        <li><a href="/overview">+Draw</a></li>
      </ul>
    </nav>
    <a href="/landingpage" class="logout-button"
      ><i class="fa-solid fa-right-from-bracket"></i
    ></a>
    </header>
    
    <main>
      <section class="draw-select-options">
        <select>
          <option>Kies deck</option>
          <option>Deck 1</option>
          <option>Deck 2</option>
          <option>Deck 3</option>
          <option>Deck 4</option>
          <option>Deck 5</option>
          <option>Deck 6</option>
        </select>
      </section>
      <section class="draw-cards-decks">
        <article class="image-deck">
          <h2 class="drawn-deck-info">56 / 60</h2>
          <img
            src="./assets/images/mtgkaartachterkant.jpg"
            alt="Image description"
          />
        </article>

        <article class="image-deck">
          <h2 class="drawn-deck-info">4 / 60</h2>
          <img
            src="./assets/images/brimaz-king-of-oreskos-born-of-the-gods-88867.jpg"
            alt="Image description"
          />
        </article>
      </section>
      <section class="draw-interaction-btn">
        <button>Schudden</button>
        <button>Kaart Nemen</button>
      </section>

      <section class="drawn-summary">
        <h2 class="drawn-cards-info">Reeds getrokken kaarten</h2>
        <hr />
        <ul class="draw-cards-summary">
          <li>
            <img
              src="./assets/images/brimaz-king-of-oreskos-born-of-the-gods-88867.jpg"
              alt="Image description"
            />
          </li>
          <li>
            <img
              src="./assets/images/kiki-jiki-mirror-breaker-modern-masters-2015-71805.jpg"
              alt="Image description"
            />
          </li>
          <li>
            <img
              src="./assets/images/baeloth-barrityl-entertainer-extended-art-73305.jpg"
              alt="Image description"
            />
          </li>
          <li>
            <img
              src="./assets/images/kiki-jiki-mirror-breaker-modern-masters-2015-71805.jpg"
              alt="Image description"
            />
          </li>
        </ul>
      </section>
    </main>
 
  </body>
<%- include('./partials/footer') %>