<%- include('./partials/header') %>

  <section class="container">
    <img src="/assets/images/mtg.png" alt="Magic the Gathering" />

    <form class="registration" action="/register" method="post">
      <h1>Registreer</h1>
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" required />
      <label for="password">Kies een wachtwoord</label>
      <input type="password" id="password" name="password" required />
      <label for="password-confirm">Herhaal wachtwoord</label>
      <input type="password" id="password-confirm" name="password-confirm" required />
      <button type="submit">Registratie bevestigen</button>
    </form>

    <section class="login-link">
      <p>
        Heb je al een account? <a href="/login">Meld je dan hier aan!</a>
      </p>
    </section>
    
  </section>
</body>
<%- include('./partials/footer') %>
